USE [Contab]
GO
/****** Object:  Table [dbo].[Holiday]    Script Date: 1/27/2025 2:38:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holiday](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpNode] [hierarchyid] NOT NULL,
	[EmpRecordChangeDate] [smalldatetime] NULL,
	[VacationStartDate] [smalldatetime] NULL,
	[VacationStartDay] [int] NULL,
	[NumberofVacationDays] [int] NULL,
	[CalculationBase] [money] NULL,
	[IncreaseCode] [char](8) NULL,
	[IncreaseValue] [money] NULL,
	[VacationValueGross] [money] NULL,
	[CalculatedTax] [money] NULL,
	[CalculatedContributionToRetirement] [money] NULL,
	[CalculatedContributionToHealth] [money] NULL,
	[CalculatedContributionToUnemployment] [money] NULL,
	[Retains] [numeric](10, 2) NULL,
	[FinalNetValueVacationMoney] [numeric](10, 2) NULL,
	[CalculationDate] [smalldatetime] NULL,
	[CurrentYearMonthlyWorkHours] [numeric](7, 3) NULL,
	[ReCalculatedVacationValueNet] [money] NULL,
	[DateWhenVacationIsIntroduced] [smalldatetime] NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
