USE [Contab]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 1/27/2025 2:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpNode] [hierarchyid] NULL,
	[EmpRecordChangeDate] [smalldatetime] NULL,
	[Name] [nvarchar](128) NOT NULL,
	[IdCardSerieNo] [nvarchar](128) NOT NULL,
	[IdCardCnp] [numeric](13, 0) NOT NULL,
	[LastIdCardCreationDate] [smalldatetime] NOT NULL,
	[LastIdCardCreatedBy] [nvarchar](128) NOT NULL,
	[MainSalary] [money] NOT NULL,
	[HiringDate] [smalldatetime] NOT NULL,
	[EmpShift] [char](1) NOT NULL,
	[CountyCode] [char](2) NULL,
	[WorkGroup] [smallint] NOT NULL,
	[HoursToWork] [smallint] NOT NULL,
	[Retired] [bit] NOT NULL,
	[RetirementPilonGovt] [smallint] NULL,
	[Studies] [varchar](4) NOT NULL,
	[CivilStatus] [char](1) NULL,
	[SignalDeduction] [bit] NULL,
	[SignalImpozit] [bit] NULL,
	[HealthExempted] [bit] NULL,
	[HealthExemptionReason] [bit] NULL,
	[WorkEmail] [nvarchar](128) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Birthday] [smalldatetime] NOT NULL,
	[EmpDeptNode] [hierarchyid] NULL,
	[EmpActivityNode] [hierarchyid] NULL,
	[EmpWorkTypeNode] [hierarchyid] NULL,
	[EmpFunctionNode] [hierarchyid] NULL,
	[EmpDeptNodeName] [varchar](128) NOT NULL,
	[EmpActivityNodeName] [varchar](128) NULL,
	[EmpWorkTypeNodeName] [varchar](128) NULL,
	[EmpFunctionNodeName] [varchar](128) NOT NULL,
	[ManagerNode] [hierarchyid] NULL,
	[PersonalEmail] [nvarchar](128) NULL,
	[Surname] [nvarchar](128) NULL,
	[Bank1Code] [char](3) NULL,
	[Iban1] [char](24) NULL,
	[Bank2Code] [char](3) NULL,
	[Iban2] [char](24) NULL,
	[Phone] [nvarchar](128) NULL,
	[MgmtSalaryIncrease] [money] NULL,
	[EndWorkCode] [char](2) NULL,
	[EndWorkDate] [smalldatetime] NULL,
	[WorkExperienceSalaryIncrease] [money] NULL,
	[FirstJobHiringDate] [smalldatetime] NULL,
	[Location] [varchar](128) NULL,
	[MealTickets] [bit] NULL,
	[AdvanceOrLiquidaton] [bit] NULL,
	[YearSeniority] [smallint] NULL,
	[MonthSeniority] [smallint] NULL,
	[Insured] [bit] NULL,
	[Insurance] [nvarchar](128) NULL,
	[RetirementSeniority] [char](2) NULL,
	[RetirementSupplement] [smallint] NULL,
	[RetirementExclusionReason] [smallint] NULL,
	[MoneyAdvance] [money] NULL,
	[ExceptedRetributionDays] [smallint] NULL,
	[HoursRegie] [smallint] NULL,
	[HoursOOOGiven] [smallint] NULL,
	[HoursNotmotivatedAbsence] [smallint] NULL,
	[HoursInterruption] [smallint] NULL,
	[HoursInterruptionNotmotivated] [smallint] NULL,
	[HoursExcludedFromSeniorityAddition] [smallint] NULL,
	[DaysLeave] [smallint] NULL,
	[DaysLeaveWithoutPay] [smallint] NULL,
	[DaysSick] [smallint] NULL,
	[DaysUnmotivatedAbsence] [smallint] NULL,
	[DaysOOOGiven] [smallint] NULL,
	[LeaveGross] [money] NULL,
	[MoneyLeaveLiquidation] [money] NULL,
	[MoneyFinancialAid] [money] NULL,
	[MoneyPartialSalary] [money] NULL,
	[MoneyBonus] [money] NULL,
	[MoneyPartialBonus] [money] NULL,
	[PercentDiminishQuantitative] [numeric](18, 0) NULL,
	[PercentDimishFinal] [numeric](18, 0) NULL,
	[MoneyGrossForOtherTimes] [money] NULL,
	[ContractNoIndivAccord] [nvarchar](128) NULL,
	[IndividualAcord] [smallint] NULL,
	[HoursIndivAccord] [smallint] NULL,
	[PercentIncreaseIndivAccord] [numeric](18, 0) NULL,
	[PercentDecreasecreaseIndivAccord] [numeric](18, 0) NULL,
	[HoursWorkedInTL] [smallint] NULL,
	[PercentIncreaseTL] [numeric](18, 0) NULL,
	[PercentDecreaseTL] [numeric](18, 0) NULL,
	[BaseCalculationTL] [numeric](18, 0) NULL,
	[TaxCumulated] [money] NULL,
	[BonusGrossSpecial] [money] NULL,
	[BonusManagement] [money] NULL,
	[BonusManagementPartial] [money] NULL,
	[UntaxedMoney] [money] NULL,
	[HoursLeave] [smallint] NULL,
	[HoursLeaveWithoutPay] [smallint] NULL,
	[MoneyMealTickets] [money] NULL,
	[MoneyGiftTicket] [money] NULL,
	[NumberOfTickets] [smallint] NULL,
	[CodRetentionAdvance] [smallint] NULL,
	[AdvanceDocumentNo] [nvarchar](128) NULL,
	[RateRetentionAdvance] [money] NULL,
	[FundEnterDate] [smalldatetime] NULL,
	[FundTax] [money] NULL,
	[FundTotal] [money] NULL,
	[MonthlyContributionToFound] [money] NULL,
	[BorrowingDate] [smalldatetime] NULL,
	[BorrowedHowMuch] [money] NULL,
	[ReturnedHowMuch] [money] NULL,
	[InterestOnBorrowed] [numeric](18, 0) NULL,
	[InterestRestant] [money] NULL,
	[InterestNotCalculated] [money] NULL,
	[RateRetentionLiquidation] [money] NULL,
	[CodRetentionLiquidation] [smallint] NULL,
	[CodRetentionBeneficiary] [smallint] NULL,
	[LiquidationDocumentNo] [smallint] NULL,
	[LiquidationDocumentDate] [smalldatetime] NULL,
	[MonthlyRetentionRate] [money] NULL,
	[Penalty] [money] NULL,
	[LastRate] [money] NULL,
	[OtherRate] [money] NULL,
	[PriorityRate] [money] NULL,
	[IncreaseCode] [char](1) NULL,
	[Base] [money] NULL,
	[WorkQuantity] [numeric](18, 0) NULL,
	[IncreaseValue] [money] NULL,
	[TotalIncreaseValue] [money] NULL,
	[IncreaseCode2] [char](1) NULL,
	[Base2] [money] NULL,
	[WorkQuantity2] [numeric](18, 0) NULL,
	[IncreaseValue2] [money] NULL,
	[TotalIncreaseValue2] [money] NULL,
	[IncreaseCode3] [char](1) NULL,
	[Base3] [money] NULL,
	[WorkQuantity3] [numeric](18, 0) NULL,
	[IncreaseValue3] [money] NULL,
	[TotalIncreaseValue3] [money] NULL,
	[IncreaseCode4] [char](1) NULL,
	[Base4] [money] NULL,
	[WorkQuantity4] [numeric](18, 0) NULL,
	[IncreaseValue4] [money] NULL,
	[TotalIncreaseValue4] [money] NULL,
	[SALINLOC_ReplacementSalaryForWhichInCalculateTheIncrease] [numeric](18, 1) NULL,
	[RO1_HourlyRegimeForIncreaseCalculations] [numeric](18, 0) NULL,
	[RO2_HourlyRegimeForIncreaseCalculations] [numeric](18, 0) NULL,
	[RO3_HourlyRegimeForIncreaseCalculations] [numeric](18, 0) NULL,
	[RO4_HourlyRegimeForIncreaseCalculations] [numeric](18, 0) NULL,
	[GrossBonus] [money] NULL,
	[NetBonus] [money] NULL,
	[BonusPayDate] [smalldatetime] NULL,
	[BonusType] [char](1) NULL,
	[ContributionToHealth] [money] NULL,
	[ContributinToRetirement] [money] NULL,
	[ContributionToUnemployment] [money] NULL,
	[TotalTaxOnAdvance] [money] NULL,
	[AllOrOnlyWomenOrOnlyMen] [char](1) NULL,
	[EmpNodeText] [nvarchar](128) NULL,
	[EmpNodeName] [nvarchar](128) NULL,
	[EmpLevel]  AS ([EmpNode].[GetLevel]()),
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [Emp_BreadthFirst]    Script Date: 1/27/2025 2:38:51 PM ******/
CREATE NONCLUSTERED INDEX [Emp_BreadthFirst] ON [dbo].[Employee]
(
	[EmpLevel] ASC,
	[EmpNode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (sysdatetime()) FOR [HiringDate]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('Z') FOR [EmpShift]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((3)) FOR [WorkGroup]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((8)) FOR [HoursToWork]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [Retired]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [RetirementPilonGovt]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('G') FOR [Studies]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [SignalDeduction]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [SignalImpozit]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [HealthExempted]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [HealthExemptionReason]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('email@org.com') FOR [WorkEmail]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('F') FOR [Gender]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [MgmtSalaryIncrease]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [WorkExperienceSalaryIncrease]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [MealTickets]
GO
