USE [Contab]
GO
/****** Object:  Table [dbo].[Params]    Script Date: 1/27/2025 2:38:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Params](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[ProcessingDate] [smalldatetime] NULL,
	[FiscalCode] [nvarchar](32) NOT NULL,
	[CaenCode] [numeric](18, 0) NOT NULL,
	[AdvancePercentRate] [numeric](18, 0) NOT NULL,
	[WorkRegime8Hours] [smallint] NOT NULL,
	[NormatedRegime] [smallint] NULL,
	[Bank1Code] [nvarchar](64) NULL,
	[Bank2Code] [nvarchar](64) NULL,
	[CommerceRegister] [nvarchar](64) NULL,
	[NormalWorkHoursSchedule] [smallint] NULL,
	[MinimSalaryGovt] [money] NULL,
	[NoDaysForWhichAdvanceisPaid] [smallint] NULL,
	[EcnDirectorName] [varchar](128) NULL,
	[GenDirectorName] [varchar](128) NULL,
	[FinDirectorName] [varchar](128) NULL,
	[EcnDirector] [hierarchyid] NULL,
	[GenDirector] [hierarchyid] NULL,
	[FinDirector] [hierarchyid] NULL,
	[LiquidationDate] [smallint] NULL,
	[PercUnion] [numeric](18, 0) NULL,
	[CodesRetention] [nvarchar](64) NULL,
	[PercSeniorityAddition] [numeric](18, 0) NULL,
	[PercDifferentForPension] [numeric](18, 0) NULL,
	[PercNormalForPension] [numeric](18, 0) NULL,
	[PercSpecialForPension] [numeric](18, 0) NULL,
	[BeneficiaryCode] [numeric](18, 0) NULL,
	[InterestCAR] [numeric](18, 0) NULL,
	[TaxRate] [numeric](18, 0) NULL,
	[PercSuplemDeduction] [numeric](18, 0) NULL,
	[PercFixDeduction] [numeric](18, 0) NULL,
	[PercLimited] [numeric](18, 0) NULL,
	[PercDeducMedicalOOO] [numeric](18, 0) NULL,
	[PercContribToWorkAccident] [numeric](18, 0) NULL,
	[PercContribWorkInsurance] [numeric](18, 0) NULL,
	[PercContribRetirement] [numeric](18, 0) NULL,
	[PercHealthFund] [numeric](18, 0) NULL,
	[PercUnemplPaidByPerson] [numeric](18, 0) NULL,
	[PercUnemplPaidByCompany] [numeric](18, 0) NULL,
	[DiminishingRegime] [numeric](18, 0) NULL,
	[AlgorithmUnemplCalc1] [numeric](18, 0) NULL,
	[ManualOrAutomated_OOO_Calc] [bit] NULL,
	[BaseDeduction] [money] NULL,
	[TaxLimit] [money] NULL,
	[TaxLimitInf] [money] NULL,
	[TaxLimitSup] [money] NULL,
	[TaxLimitPercentProfictRealization] [money] NULL,
	[SalaryModification] [money] NULL,
	[AlgorithmCalculCAS] [numeric](18, 0) NULL,
	[HowToCalculateSalary] [numeric](18, 0) NULL,
	[UnionDay] [smalldatetime] NULL,
	[BigFriday] [smalldatetime] NULL,
	[Easter] [smalldatetime] NULL,
	[Rusali] [smalldatetime] NULL,
	[StMaria] [smalldatetime] NULL,
	[ChildDay] [smalldatetime] NULL,
	[StAndrei] [smalldatetime] NULL,
	[MediumSalaryOnEconomy] [money] NULL,
	[PrecedentYearMonthlyWorkDays] [nvarchar](64) NULL,
	[CurrentYearMonthlyWorkDays] [nvarchar](64) NULL,
	[ApplicationVersion] [nvarchar](128) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Params] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Params] ON 

SET IDENTITY_INSERT [dbo].[Params] OFF
GO
