USE [Contab]
GO
/****** Object:  Table [dbo].[Organisation]    Script Date: 1/27/2025 2:38:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Node] [hierarchyid] NULL,
	[NodeName] [nvarchar](128) NOT NULL,
	[ParentNode] [hierarchyid] NULL,
	[ParentNodeName] [nvarchar](128) NOT NULL,
	[NodeLevel]  AS ([Node].[GetLevel]()),
	[CountyCode] [char](2) NULL,
	[Location] [varchar](128) NULL,
	[CodCor] [int] NULL,
	[CodGrm] [char](3) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Organisation] ON 

INSERT [dbo].[Organisation] ([Id], [Node], [NodeName], [ParentNode], [ParentNodeName], [CountyCode], [Location], [CodCor], [CodGrm], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'/', N'Company', NULL, N'', NULL, N'Iasi', NULL, NULL, CAST(N'2025-01-15T19:32:00' AS SmallDateTime), N'system', CAST(N'2025-01-15T19:32:00' AS SmallDateTime), N'system')
INSERT [dbo].[Organisation] ([Id], [Node], [NodeName], [ParentNode], [ParentNodeName], [CountyCode], [Location], [CodCor], [CodGrm], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'/1/', N'IT', N'/', N'Company', NULL, N'Iasi', NULL, NULL, CAST(N'2025-01-15T19:35:00' AS SmallDateTime), N'system', CAST(N'2025-01-15T19:35:00' AS SmallDateTime), N'system')
INSERT [dbo].[Organisation] ([Id], [Node], [NodeName], [ParentNode], [ParentNodeName], [CountyCode], [Location], [CodCor], [CodGrm], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (4, N'/1/1/', N'Development', N'/1/', N'IT', NULL, N'Iasi', NULL, NULL, CAST(N'2025-01-15T19:37:00' AS SmallDateTime), N'system', CAST(N'2025-01-15T19:37:00' AS SmallDateTime), N'system')
SET IDENTITY_INSERT [dbo].[Organisation] OFF
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [Org_BreadthFirst]    Script Date: 1/27/2025 2:38:51 PM ******/
CREATE NONCLUSTERED INDEX [Org_BreadthFirst] ON [dbo].[Organisation]
(
	[NodeLevel] ASC,
	[Node] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
