USE [Contab]
GO
/****** Object:  Table [dbo].[DiseaseCode]    Script Date: 1/27/2025 2:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiseaseCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiseaseCode] [nvarchar](8) NULL,
	[DiseaseDescription] [nvarchar](128) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
