USE [master]
GO
/****** Object:  Database [Contab]    Script Date: 1/27/2025 3:00:27 PM ******/
CREATE DATABASE [Contab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Contab', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Contab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Contab_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Contab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Contab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Contab]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankCode] [nvarchar](32) NULL,
	[Iban] [nvarchar](128) NULL,
	[Adress] [nvarchar](128) NULL,
	[Branch] [bit] NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disease]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disease](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpNode] [hierarchyid] NOT NULL,
	[EmpRecordChangeDate] [smalldatetime] NULL,
	[CodeDisease] [int] NULL,
	[StartDateofMedicalHoliday] [smalldatetime] NULL,
	[NoDiseaseDayCalend] [int] NULL,
	[NoDiseaseDayWork] [int] NULL,
	[NoDiseaseDayWorkPaidByEmployer] [int] NULL,
	[NoDiseaseDayWorkPaidByGovt] [int] NULL,
	[NetSalaryOnTheLast12Months] [money] NULL,
	[NetSalaryPerDayOnTheLast12Months] [money] NULL,
	[NoWorkDaysPerLast12Months] [int] NULL,
	[NoCalendDaysPerLast12Months] [int] NULL,
	[StartDateOfTheDisease] [smalldatetime] NULL,
	[EndDateOfTheDisease] [smalldatetime] NULL,
	[DiseaseIsInitialOrContinued] [bit] NULL,
	[MedCertificateCode] [char](2) NULL,
	[MedCertificateSerie] [char](10) NULL,
	[MedCertificateNo] [char](10) NULL,
	[MedCertificateCodeContinue] [char](2) NULL,
	[MedCertificateSerieContinued] [char](10) NULL,
	[MedCertificateNumberContinued] [char](10) NULL,
	[UrgencyCode] [char](3) NULL,
	[ContagiousCode] [char](2) NULL,
	[ChildCnp] [numeric](13, 0) NULL,
	[DoctorLicenseNumber] [char](10) NULL,
	[DateMedicalCertificate] [smalldatetime] NULL,
	[LocationCode] [int] NULL,
	[DiagnosticCode] [int] NULL,
	[OtherPersonInCareCnp] [numeric](13, 0) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiseaseCode]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiseaseCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiseaseCode] [nvarchar](8) NULL,
	[DiseaseDescription] [nvarchar](128) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpNode] [hierarchyid] NULL,
	[EmpRecordChangeDate] [smalldatetime] NULL,
	[LastName] [nvarchar](128) NOT NULL,
	[MiddleName] [nvarchar](128) NULL,
	[FirstName] [nvarchar](128) NULL,
	[IdCardSerieNo] [nvarchar](128) NOT NULL,
	[IdCardCnp] [numeric](13, 0) NOT NULL,
	[LastIdCardCreationDate] [smalldatetime] NOT NULL,
	[LastIdCardCreatedBy] [smalldatetime] NOT NULL,
	[MainSalary] [money] NOT NULL,
	[HiringDate] [smalldatetime] NOT NULL,
	[EmpShift] [char](1) NOT NULL,
	[CountyCode] [char](2) NOT NULL,
	[WorkGroup] [smallint] NOT NULL,
	[HoursToWork] [smallint] NOT NULL,
	[Retired] [bit] NOT NULL,
	[RetirementPilonGovt] [smallint] NULL,
	[Studies] [char](4) NOT NULL,
	[CivilStatus] [char](1) NULL,
	[SignalDeduction] [bit] NULL,
	[SignalImpozit] [bit] NULL,
	[HealthExempted] [bit] NULL,
	[HealthExemptionReason] [bit] NULL,
	[WorkEmail] [nvarchar](128) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Birthday] [smalldatetime] NOT NULL,
	[EmpDeptNode] [hierarchyid] NULL,
	[EmpActivityNode] [hierarchyid] NULL,
	[EmpWorkTypeNode] [hierarchyid] NULL,
	[EmpFunctionNode] [hierarchyid] NULL,
	[EmpDeptNodeName] [varchar](128) NOT NULL,
	[EmpActivityNodeName] [varchar](128) NULL,
	[EmpWorkTypeNodeName] [varchar](128) NULL,
	[EmpFunctionNodeName] [varchar](128) NOT NULL,
	[ManagerNode] [hierarchyid] NULL,
	[PersonalEmail] [nvarchar](128) NULL,
	[Bank1Code] [char](3) NULL,
	[Iban1] [char](24) NULL,
	[Bank2Code] [char](3) NULL,
	[Iban2] [char](24) NULL,
	[Phone] [nvarchar](128) NULL,
	[MgmtSalaryIncrease] [money] NULL,
	[EndWorkCode] [char](2) NULL,
	[EndWorkDate] [smalldatetime] NULL,
	[WorkExperienceSalaryIncrease] [money] NULL,
	[FirstJobHiringDate] [smalldatetime] NULL,
	[Location] [varchar](128) NULL,
	[MealTickets] [bit] NULL,
	[AdvanceOrLiquidaton] [bit] NULL,
	[YearSeniority] [smallint] NULL,
	[MonthSeniority] [smallint] NULL,
	[Insured] [bit] NULL,
	[Insurance] [nvarchar](128) NULL,
	[RetirementSeniority] [char](2) NULL,
	[RetirementSupplement] [smallint] NULL,
	[RetirementExclusionReason] [smallint] NULL,
	[MoneyAdvance] [money] NULL,
	[ExceptedRetributionDays] [smallint] NULL,
	[HoursRegie] [smallint] NULL,
	[HoursOOOGiven] [smallint] NULL,
	[HoursNotmotivatedAbsence] [smallint] NULL,
	[HoursInterruption] [smallint] NULL,
	[HoursInterruptionNotmotivated] [smallint] NULL,
	[HoursExcludedFromSeniorityAddition] [smallint] NULL,
	[DaysLeave] [smallint] NULL,
	[DaysLeaveWithoutPay] [smallint] NULL,
	[DaysSick] [smallint] NULL,
	[DaysUnmotivatedAbsence] [smallint] NULL,
	[DaysOOOGiven] [smallint] NULL,
	[LeaveGross] [money] NULL,
	[MoneyLeaveLiquidation] [money] NULL,
	[MoneyFinancialAid] [money] NULL,
	[MoneyPartialSalary] [money] NULL,
	[MoneyBonus] [money] NULL,
	[MoneyPartialBonus] [money] NULL,
	[PercentDiminishQuantitative] [numeric](18, 0) NULL,
	[PercentDimishFinal] [numeric](18, 0) NULL,
	[MoneyGrossForOtherTimes] [money] NULL,
	[ContractNoIndivAccord] [nvarchar](128) NULL,
	[IndividualAcord] [smallint] NULL,
	[HoursIndivAccord] [smallint] NULL,
	[PercentIncreaseIndivAccord] [numeric](18, 0) NULL,
	[PercentDecreasecreaseIndivAccord] [numeric](18, 0) NULL,
	[HoursWorkedInTL] [smallint] NULL,
	[PercentIncreaseTL] [numeric](18, 0) NULL,
	[PercentDecreaseTL] [numeric](18, 0) NULL,
	[BaseCalculationTL] [numeric](18, 0) NULL,
	[TaxCumulated] [money] NULL,
	[BonusGrossSpecial] [money] NULL,
	[BonusManagement] [money] NULL,
	[BonusManagementPartial] [money] NULL,
	[UntaxedMoney] [money] NULL,
	[HoursLeave] [smallint] NULL,
	[HoursLeaveWithoutPay] [smallint] NULL,
	[MoneyMealTickets] [money] NULL,
	[MoneyGiftTicket] [money] NULL,
	[NumberOfTickets] [smallint] NULL,
	[CodRetentionAdvance] [smallint] NULL,
	[AdvanceDocumentNo] [nvarchar](128) NULL,
	[RateRetentionAdvance] [money] NULL,
	[FundEnterDate] [smalldatetime] NULL,
	[FundTax] [money] NULL,
	[FundTotal] [money] NULL,
	[MonthlyContributionToFound] [money] NULL,
	[BorrowingDate] [smalldatetime] NULL,
	[BorrowedHowMuch] [money] NULL,
	[ReturnedHowMuch] [money] NULL,
	[InterestOnBorrowed] [numeric](18, 0) NULL,
	[InterestRestant] [money] NULL,
	[InterestNotCalculated] [money] NULL,
	[RateRetentionLiquidation] [money] NULL,
	[CodRetentionLiquidation] [smallint] NULL,
	[CodRetentionBeneficiary] [smallint] NULL,
	[LiquidationDocumentNo] [smallint] NULL,
	[LiquidationDocumentDate] [smalldatetime] NULL,
	[MonthlyRetentionRate] [money] NULL,
	[Penalty] [money] NULL,
	[LastRate] [money] NULL,
	[OtherRate] [money] NULL,
	[PriorityRate] [money] NULL,
	[IncreaseCode] [char](1) NULL,
	[Base] [money] NULL,
	[WorkQuantity] [numeric](18, 0) NULL,
	[IncreaseValue] [money] NULL,
	[TotalIncreaseValue] [money] NULL,
	[IncreaseCode2] [char](1) NULL,
	[Base2] [money] NULL,
	[WorkQuantity2] [numeric](18, 0) NULL,
	[IncreaseValue2] [money] NULL,
	[TotalIncreaseValue2] [money] NULL,
	[IncreaseCode3] [char](1) NULL,
	[Base3] [money] NULL,
	[WorkQuantity3] [numeric](18, 0) NULL,
	[IncreaseValue3] [money] NULL,
	[TotalIncreaseValue3] [money] NULL,
	[IncreaseCode4] [char](1) NULL,
	[Base4] [money] NULL,
	[WorkQuantity4] [numeric](18, 0) NULL,
	[IncreaseValue4] [money] NULL,
	[TotalIncreaseValue4] [money] NULL,
	[SALINLOC_ReplacementSalaryForWhichInCalculateTheIncrease] [numeric](18, 1) NULL,
	[RO1_HourlyRegimeForIncreaseCalculations] [numeric](18, 0) NULL,
	[RO2_HourlyRegimeForIncreaseCalculations] [numeric](18, 0) NULL,
	[RO3_HourlyRegimeForIncreaseCalculations] [numeric](18, 0) NULL,
	[RO4_HourlyRegimeForIncreaseCalculations] [numeric](18, 0) NULL,
	[GrossBonus] [money] NULL,
	[NetBonus] [money] NULL,
	[BonusPayDate] [smalldatetime] NULL,
	[BonusType] [char](1) NULL,
	[ContributionToHealth] [money] NULL,
	[ContributinToRetirement] [money] NULL,
	[ContributionToUnemployment] [money] NULL,
	[TotalTaxOnAdvance] [money] NULL,
	[AllOrOnlyWomenOrOnlyMen] [char](1) NULL,
	[EmpNodeText] [nvarchar](128) NULL,
	[EmpNodeName] [nvarchar](128) NULL,
	[EmpLevel]  AS ([EmpNode].[GetLevel]()),
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holiday]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holiday](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpNode] [hierarchyid] NOT NULL,
	[EmpRecordChangeDate] [smalldatetime] NULL,
	[VacationStartDate] [smalldatetime] NULL,
	[VacationStartDay] [int] NULL,
	[NumberofVacationDays] [int] NULL,
	[CalculationBase] [money] NULL,
	[IncreaseCode] [char](8) NULL,
	[IncreaseValue] [money] NULL,
	[VacationValueGross] [money] NULL,
	[CalculatedTax] [money] NULL,
	[CalculatedContributionToRetirement] [money] NULL,
	[CalculatedContributionToHealth] [money] NULL,
	[CalculatedContributionToUnemployment] [money] NULL,
	[Retains] [numeric](10, 2) NULL,
	[FinalNetValueVacationMoney] [numeric](10, 2) NULL,
	[CalculationDate] [smalldatetime] NULL,
	[CurrentYearMonthlyWorkHours] [numeric](7, 3) NULL,
	[ReCalculatedVacationValueNet] [money] NULL,
	[DateWhenVacationIsIntroduced] [smalldatetime] NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HolidayCode]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HolidayCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HolidayCode] [nvarchar](8) NULL,
	[HolidayDescription] [nvarchar](128) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Increase]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Increase](
	[Id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncreaseCode]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncreaseCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IncreaseCode] [nvarchar](8) NULL,
	[IncreaseDescription] [nvarchar](128) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organisation]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Node] [hierarchyid] NULL,
	[NodeName] [nvarchar](128) NOT NULL,
	[ParentNode] [hierarchyid] NULL,
	[ParentNodeName] [nvarchar](128) NOT NULL,
	[NodeLevel]  AS ([Node].[GetLevel]()),
	[CountyCode] [char](2) NULL,
	[Location] [varchar](128) NULL,
	[CodCor] [int] NULL,
	[CodGrm] [char](3) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Params]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Params](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[ProcessingDate] [smalldatetime] NULL,
	[FiscalCode] [nvarchar](32) NOT NULL,
	[CaenCode] [numeric](18, 0) NOT NULL,
	[AdvancePercentRate] [numeric](18, 0) NOT NULL,
	[WorkRegime8Hours] [smallint] NOT NULL,
	[NormatedRegime] [smallint] NULL,
	[Bank1Code] [nvarchar](64) NULL,
	[Bank2Code] [nvarchar](64) NULL,
	[CommerceRegister] [nvarchar](64) NULL,
	[NormalWorkHoursSchedule] [smallint] NULL,
	[MinimSalaryGovt] [money] NULL,
	[NoDaysForWhichAdvanceisPaid] [smallint] NULL,
	[EcnDirectorName] [varchar](128) NULL,
	[GenDirectorName] [varchar](128) NULL,
	[FinDirectorName] [varchar](128) NULL,
	[EcnDirector] [hierarchyid] NULL,
	[GenDirector] [hierarchyid] NULL,
	[FinDirector] [hierarchyid] NULL,
	[LiquidationDate] [smallint] NULL,
	[PercUnion] [numeric](18, 0) NULL,
	[CodesRetention] [nvarchar](64) NULL,
	[PercSeniorityAddition] [numeric](18, 0) NULL,
	[PercDifferentForPension] [numeric](18, 0) NULL,
	[PercNormalForPension] [numeric](18, 0) NULL,
	[PercSpecialForPension] [numeric](18, 0) NULL,
	[BeneficiaryCode] [numeric](18, 0) NULL,
	[InterestCAR] [numeric](18, 0) NULL,
	[TaxRate] [numeric](18, 0) NULL,
	[PercSuplemDeduction] [numeric](18, 0) NULL,
	[PercFixDeduction] [numeric](18, 0) NULL,
	[PercLimited] [numeric](18, 0) NULL,
	[PercDeducMedicalOOO] [numeric](18, 0) NULL,
	[PercContribToWorkAccident] [numeric](18, 0) NULL,
	[PercContribWorkInsurance] [numeric](18, 0) NULL,
	[PercContribRetirement] [numeric](18, 0) NULL,
	[PercHealthFund] [numeric](18, 0) NULL,
	[PercUnemplPaidByPerson] [numeric](18, 0) NULL,
	[PercUnemplPaidByCompany] [numeric](18, 0) NULL,
	[DiminishingRegime] [numeric](18, 0) NULL,
	[AlgorithmUnemplCalc1] [numeric](18, 0) NULL,
	[ManualOrAutomated_OOO_Calc] [bit] NULL,
	[BaseDeduction] [money] NULL,
	[TaxLimit] [money] NULL,
	[TaxLimitInf] [money] NULL,
	[TaxLimitSup] [money] NULL,
	[TaxLimitPercentProfictRealization] [money] NULL,
	[SalaryModification] [money] NULL,
	[AlgorithmCalculCAS] [numeric](18, 0) NULL,
	[HowToCalculateSalary] [numeric](18, 0) NULL,
	[UnionDay] [smalldatetime] NULL,
	[BigFriday] [smalldatetime] NULL,
	[Easter] [smalldatetime] NULL,
	[Rusali] [smalldatetime] NULL,
	[StMaria] [smalldatetime] NULL,
	[ChildDay] [smalldatetime] NULL,
	[StAndrei] [smalldatetime] NULL,
	[MediumSalaryOnEconomy] [money] NULL,
	[PrecedentYearMonthlyWorkDays] [nvarchar](64) NULL,
	[CurrentYearMonthlyWorkDays] [nvarchar](64) NULL,
	[ApplicationVersion] [nvarchar](128) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Params] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Retain]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Retain](
	[Id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RetainCode]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RetainCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RetainCode] [nvarchar](8) NULL,
	[RetainDescription] [nvarchar](128) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkDaysPerMonth]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkDaysPerMonth](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Month] [smallint] NOT NULL,
	[MonthName] [varchar](16) NULL,
	[WorkDaysNo] [smallint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkTypeCode]    Script Date: 1/27/2025 3:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTypeCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkTypeCode] [nvarchar](8) NULL,
	[WorkTypeDescription] [nvarchar](128) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Organisation] ON 

INSERT [dbo].[Organisation] ([Id], [Node], [NodeName], [ParentNode], [ParentNodeName], [CountyCode], [Location], [CodCor], [CodGrm], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'/', N'Company', NULL, N'', NULL, N'Iasi', NULL, NULL, CAST(N'2025-01-15T19:32:00' AS SmallDateTime), N'system', CAST(N'2025-01-15T19:32:00' AS SmallDateTime), N'system')
INSERT [dbo].[Organisation] ([Id], [Node], [NodeName], [ParentNode], [ParentNodeName], [CountyCode], [Location], [CodCor], [CodGrm], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'/1/', N'IT', N'/', N'Company', NULL, N'Iasi', NULL, NULL, CAST(N'2025-01-15T19:35:00' AS SmallDateTime), N'system', CAST(N'2025-01-15T19:35:00' AS SmallDateTime), N'system')
INSERT [dbo].[Organisation] ([Id], [Node], [NodeName], [ParentNode], [ParentNodeName], [CountyCode], [Location], [CodCor], [CodGrm], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (4, N'/1/1/', N'Development', N'/1/', N'IT', NULL, N'Iasi', NULL, NULL, CAST(N'2025-01-15T19:37:00' AS SmallDateTime), N'system', CAST(N'2025-01-15T19:37:00' AS SmallDateTime), N'system')
SET IDENTITY_INSERT [dbo].[Organisation] OFF
GO
SET IDENTITY_INSERT [dbo].[Params] ON 

SET IDENTITY_INSERT [dbo].[Params] OFF
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [Emp_BreadthFirst]    Script Date: 1/27/2025 3:00:30 PM ******/
CREATE NONCLUSTERED INDEX [Emp_BreadthFirst] ON [dbo].[Employee]
(
	[EmpLevel] ASC,
	[EmpNode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [Org_BreadthFirst]    Script Date: 1/27/2025 3:00:30 PM ******/
CREATE NONCLUSTERED INDEX [Org_BreadthFirst] ON [dbo].[Organisation]
(
	[NodeLevel] ASC,
	[Node] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (sysdatetime()) FOR [HiringDate]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('Z') FOR [EmpShift]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((3)) FOR [WorkGroup]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((8)) FOR [HoursToWork]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [Retired]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [RetirementPilonGovt]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [SignalDeduction]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [SignalImpozit]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [HealthExempted]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [HealthExemptionReason]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('email@org.com') FOR [WorkEmail]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('F') FOR [Gender]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [MgmtSalaryIncrease]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [WorkExperienceSalaryIncrease]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((0)) FOR [MealTickets]
GO
USE [master]
GO
