USE [Contab]
GO
/****** Object:  Table [dbo].[IncreaseCode]    Script Date: 2/1/2025 10:41:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncreaseCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IncreaseCode] [nvarchar](8) NULL,
	[IncreaseDescription] [nvarchar](128) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
