USE [Contab]
GO
/****** Object:  Table [dbo].[WorkDaysPerMonth]    Script Date: 3/17/2025 12:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkDaysPerMonth]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WorkDaysPerMonth](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Month] [smallint] NOT NULL,
	[MonthName] [varchar](16) NULL,
	[WorkDaysNo] [smallint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
