USE [Contab]
GO
/****** Object:  Table [dbo].[WorkTypeCode]    Script Date: 3/17/2025 12:56:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkTypeCode]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WorkTypeCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkTypeCode] [nvarchar](8) NULL,
	[WorkTypeDescription] [nvarchar](128) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[UpdatedAt] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](128) NOT NULL
) ON [PRIMARY]
END
GO
